<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zui.cameragallery" platformBuildVersionCode="24" platformBuildVersionName="7.0">
    <permission android:name="com.zui.cameragallery.gallery.permission.WRITE_GALLERY_DATA"/>
    <permission android:name="com.zui.cameragallery.gallery.permission.READ_GALLERY_DATA"/>
    <permission android:name="com.zui.cameragallery.gallery.app.START_GALLERY_PRELOADSERVICE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="com.zui.safecenter.permission.READ_LESAFE_DATA"/>
    <uses-permission android:name="com.zui.safecenter.permission.WRITE_LESAFE_DATA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ"/>
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.zui.xlog.service"/>
    <uses-permission android:name="android.permission.GAT_TASKS"/>
    <uses-permission android:name="com.zui.cameragallery.gallery.permission.WRITE_GALLERY_DATA"/>
    <uses-permission android:name="com.zui.cameragallery.gallery.permission.READ_GALLERY_DATA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="false"/>
    <application android:hardwareAccelerated="true" android:icon="@drawable/logo_camera_color_44in48dp" android:label="@string/app_name" android:largeHeap="true" android:name="com.zui.cameragallery.camera.app.CameraApp" android:restoreAnyVersion="true" android:supportsRtl="true" android:theme="@style/Theme.Camera">
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|mcc|mnc|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.zui.cameragallery.camera.CameraActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:taskAffinity="com.zui.cameragallery.camera.CameraActivity" android:theme="@style/Theme.Camera" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="com.android.keyguard.layout" android:resource="@layout/keyguard_widget"/>
        </activity>
        <activity-alias android:label="@string/app_name" android:name="com.zui.cameragallery.camera.ImageCamera" android:resizeableActivity="false" android:targetActivity="com.zui.cameragallery.camera.CameraActivity">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/video_camera_label" android:name="com.zui.cameragallery.camera.VideoCamera" android:resizeableActivity="false" android:targetActivity="com.zui.cameragallery.camera.CameraActivity">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:label="@string/app_name" android:name="com.zui.cameragallery.camera.SecureCameraActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:taskAffinity="com.zui.cameragallery.camera.SecureCameraActivity" android:theme="@style/Theme.Camera" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.keyguard.layout" android:resource="@layout/keyguard_widget"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.zui.cameragallery.camera.settings.SettingsPreferenceActivity" android:screenOrientation="portrait" android:theme="@style/Theme.CameraSettings">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/mode_settings" android:name="com.zui.cameragallery.camera.settings.CameraSettingsActivity" android:screenOrientation="portrait" android:theme="@style/Theme.CameraSettings">
            <intent-filter>
                <action android:name="lenovo.intent.action.SYSTEM_APP_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="settings_label" android:resource="@string/mode_settings"/>
            <meta-data android:name="settings_icon" android:resource="@drawable/logo_camera_color_44in48dp"/>
        </activity>
        <receiver android:name="com.zui.cameragallery.camera.DisableCameraReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:label="@string/app_name" android:name="com.morpho.app.panorama_gp.PanoramaActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name="com.morpho.app.panorama_gp.ReplayActivity" android:resizeableActivity="false"/>
        <activity android:name="com.morpho.app.panorama_gp.PanoramaPreference" android:resizeableActivity="false"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:icon="@drawable/gallery_video_icn" android:label="@string/movie_view_label" android:name="com.zui.cameragallery.gallery.app.MovieActivity" android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="com.zui.cameragallery.gallery.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="ftp"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.VOB"/>
                <data android:pathPattern=".*\\.vob"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="com.zui.cameragallery.gallery.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="video/mpeg4"/>
                <data android:mimeType="video/mp4"/>
                <data android:mimeType="video/3gp"/>
                <data android:mimeType="video/3gpp"/>
                <data android:mimeType="video/3gpp2"/>
                <data android:mimeType="video/webm"/>
                <data android:mimeType="video/avi"/>
                <data android:mimeType="video/x-matroska"/>
                <data android:mimeType="application/sdp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="audio/x-mpegurl"/>
                <data android:mimeType="audio/mpegurl"/>
                <data android:mimeType="application/vnd.apple.mpegurl"/>
                <data android:mimeType="application/x-mpegurl"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:icon="@mipmap/ic_launcher_gallery" android:label="@string/gallery_app_name" android:name="com.zui.cameragallery.gallery.app.GalleryActivity" android:theme="@style/Theme.Gallery" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_GALLERY"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="vnd.android.cursor.dir/image"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/image"/>
                <data android:mimeType="vnd.android.cursor.dir/video"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/image"/>
                <data android:mimeType="vnd.android.cursor.dir/video"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="com.android.camera.action.REVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme=""/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="image/bmp"/>
                <data android:mimeType="image/jpeg"/>
                <data android:mimeType="image/gif"/>
                <data android:mimeType="image/png"/>
                <data android:mimeType="image/webp"/>
                <data android:mimeType="image/x-ms-bmp"/>
                <data android:mimeType="image/vnd.wap.wbmp"/>
                <data android:mimeType="application/vnd.google.panorama360+jpg"/>
                <data android:mimeType="image/x-adobe-dng"/>
                <data android:mimeType="image/x-canon-cr2"/>
                <data android:mimeType="image/x-nikon-nef"/>
                <data android:mimeType="image/x-nikon-nrw"/>
                <data android:mimeType="image/x-sony-arw"/>
                <data android:mimeType="image/x-panasonic-rw2"/>
                <data android:mimeType="image/x-olympus-orf"/>
                <data android:mimeType="image/x-fuji-raf"/>
                <data android:mimeType="image/x-pentax-pef"/>
                <data android:mimeType="image/x-samsung-srw"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="video/mpeg4"/>
                <data android:mimeType="video/mp4"/>
                <data android:mimeType="video/3gp"/>
                <data android:mimeType="video/3gpp"/>
                <data android:mimeType="video/3gpp2"/>
                <data android:mimeType="application/sdp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.zui.cameragallery.gallery.action.GET_CONTENT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.zui.cameragallery.gallery.app.Gallery" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:configChanges="keyboardHidden|orientation|screenSize" android:icon="@mipmap/ic_launcher_gallery" android:label="@string/gallery_app_name" android:name="com.cooliris.media.Gallery" android:targetActivity="com.zui.cameragallery.gallery.app.GalleryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:icon="@drawable/maps" android:name="com.zui.cameragallery.gallery.app.Wallpaper" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter android:label="@string/camera_setas_wallpaper">
                <action android:name="android.intent.action.ATTACH_DATA"/>
                <data android:mimeType="image/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.wallpaper.preview" android:resource="@xml/wallpaper_picker_preview"/>
        </activity>
        <provider android:authorities="com.zui.cameragallery.gallery.filtershow.provider.SharedImageProvider" android:grantUriPermissions="true" android:name="com.zui.cameragallery.gallery.filtershow.provider.SharedImageProvider" android:readPermission="com.zui.cameragallery.gallery.filtershow.permission.READ" android:writePermission="com.zui.cameragallery.gallery.filtershow.permission.WRITE"/>
        <service android:exported="false" android:name="com.zui.cameragallery.gallery.filtershow.pipeline.ProcessingService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/title_activity_filter_show" android:name="com.zui.cameragallery.gallery.filtershow.FilterShowActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/Theme.FilterShow">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PHOTO_EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="action_nextgen_edit"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="false" android:name="com.zui.cameragallery.gallery.ui.mosaic.MosaicActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/Theme.FilterShow"/>
        <activity android:hardwareAccelerated="false" android:name="com.zui.cameragallery.gallery.app.GifPlayerActivity" android:theme="@style/Theme.Gallery.Gif"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/crop" android:name="com.zui.cameragallery.gallery.filtershow.crop.CropActivity" android:resizeableActivity="false" android:theme="@style/Theme.Crop"/>
        <uses-library android:name="com.google.android.media.effects" android:required="false"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.zui.cameragallery.gallery.app.DialogPicker" android:theme="@style/DialogPickerTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.zui.cameragallery.gallery.app.AlbumPicker" android:theme="@style/DialogPickerTheme"/>
        <activity android:name="com.zui.cameragallery.gallery.app.SlowVideoEditActivity" android:resizeableActivity="false" android:theme="@style/Theme.FilterShow"/>
        <activity android:name="com.zui.cameragallery.gallery.app.Best4KVideoSelectActivity" android:resizeableActivity="false" android:theme="@style/Theme.FilterShow"/>
        <activity android:name="com.zui.cameragallery.gallery.app.NormalVideoTrimActivity" android:resizeableActivity="false" android:theme="@style/Theme.FilterShow"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.zui.cameragallery.gallery.app.SlowVideoPlayActivity" android:resizeableActivity="false" android:theme="@style/Theme.FilterShow" android:windowSoftInputMode="adjustResize"/>
        <service android:exported="false" android:name="com.zui.cameragallery.gallery.app.BatchService"/>
        <provider android:authorities="com.zui.cameragallery.gallery" android:exported="true" android:name="com.zui.cameragallery.gallery.database.GalleryProvider2" android:readPermission="com.zui.cameragallery.gallery.permission.READ_GALLERY_DATA" android:writePermission="com.zui.cameragallery.gallery.permission.WRITE_GALLERY_DATA"/>
        <service android:exported="false" android:name="com.zui.cameragallery.gallery.app.service.GalleryPreLoadService" android:permission="com.zui.cameragallery.gallery.app.START_GALLERY_PRELOADSERVICE">
            <intent-filter>
                <action android:name="com.zui.gallyer.service.start"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.zui.gallyer.service.stop"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.zui.gallyer.service.task"/>
            </intent-filter>
        </service>
        <receiver android:name="com.zui.cameragallery.gallery.app.service.GalleryBootReceiver">
            <intent-filter>
                <action android:name="android.hardware.action.NEW_PICTURE"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
